/* Fondo General */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6f4df;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Registros */
.logins-section {
    background-color: #dbf2d0;
    padding: 80px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-logins {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    flex-direction: row;
}

.titulo-logins {
    font-size: 2em;
    color: #0c0c0c;
    padding-top: 3rem;
    margin: 20px 0 50px;
}

.bloques {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}




/* Registro Izquierdo - Usuarios */
.login-user-container {
  background: #FFFFFF;
  padding: 35px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 420px;
  text-align: center;
}

.login-user-container h1 {
  font-family: 'Heebo', sans-serif;
  margin-bottom: 25px;
  color: #2f6f0c;
}

.login-user-container form {
  display: flex;
  flex-direction: column;
}

.login-user-container label {
  margin: 10px 0 5px;
  text-align: left;
  font-weight: bold;
  color: #2b7005;
}

.login-user-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.login-user-container .btn {
  background: #87d65f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-user-container .btn:hover {
  background: #abe591;
}

.login-user-container p {
  margin-top: 14px;
  color: #1a1a1a;
}

.login-user-container a {
  color: #061cdf;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-user-container a:hover {
  color: #4F3F84;
}

/* Registro Derecho - Profesionales */
.login-pro-container {
  background: #FFFFFF;
  padding: 35px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 420px;
  text-align: center;
}

.login-pro-container h1 {
  font-family: 'Heebo', sans-serif;
  margin-bottom: 25px;
  color: #2f6f0c;
}

.login-pro-container form {
  display: flex;
  flex-direction: column;
}

.login-pro-container label {
  margin: 10px 0 5px;
  text-align: left;
  font-weight: bold;
  color: #2b7005;
}

.login-pro-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.login-pro-container .btn {
  background: #87d65f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-pro-container .btn:hover {
  background: #abe591;
}

.login-pro-container p {
  margin-top: 14px;
  color: #1a1a1a;
}

.login-pro-container a {
  color: #061cdf;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-pro-container a:hover {
  color: #4F3F84;
}